<div style="font-family: Arial, sans-serif; line-height: 1.6; padding: 20px; background-color: #f9f9f9; border: 1px solid #ddd; border-radius: 5px;">
  <h2 style="color: #007bff;">Olá, <%= @resource.email %>!</h2>

  <p>Alguém solicitou um link para alterar sua senha. Você pode fazer isso através do link abaixo:</p>

  <p>
    <%= link_to 'Alterar minha senha', edit_password_url(@resource, reset_password_token: @token  ), style: 'background-color: #007bff; color: white; padding: 10px 15px; text-decoration: none; border-radius: 5px;' %>
  </p>

  <p>Se você não solicitou isso, ignore este e-mail.</p>
  <p>Sua senha não será alterada até que você acesse o link acima e crie uma nova.</p>

  <footer style="margin-top: 20px; font-size: 0.9em; color: #666;">
    <p>Obrigado,<br>Equipe de Suporte</p>
  </footer>
</div>
